*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
tinker_tools/1.7.7/output_path
tinker_tools/1.9.1/output_path
tinker_tools/1.9.14.5/output_path
bakApk